.Profile {
    display: flex;
    width: 410px;
    margin-top: 74px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
.Profile__hello {
    margin-top: 0;
    margin-bottom: 123px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.Profile__fieldset {
    padding: 0;
    border: 0;
    margin-bottom: 220px;
}

.Profile__block {
    display: grid;
    grid-template-columns: 141px auto;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 16px;
}

.Profile__block:last-of-type{
    padding-bottom: 0;
    margin-top: 17px;
    border: 0;
}

.Profile__input{
    padding: 0;
    text-align: end;
    border: 0;
    font-size: 11px;
    font-weight: 400;
}
.Profile__text{
    margin: 0;
    font-size: 11px;
    font-weight: 500;
}

.Profile__edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Profile__button{
    border: 0;
    background-color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 16px;
}

.Profile__exit {
    color: #FF4062;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
}