.Techs {
    background-color: #F5F5F5;
}

.Techs__about {
    font-weight: 400;
    font-size: 25px;
    border-bottom: 1px solid #000;
    padding-bottom: 21px;
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 100px;
    margin-top: 0;
    margin-bottom: 90px;
    letter-spacing: -0.1em;
}

.Techs__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Techs__heading {
    margin-top: 0;
    margin-bottom: 26px;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -0.04em;
}

.Techs__text {
    width: 35.6589vw;;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
    margin-bottom: 100px;
    letter-spacing: -0.04em;
}

.Techs__table{
    display: flex;
    column-gap: 10px;
    margin-bottom: 100px;
}

.Techs__cell{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #E8E8E8;
    font-size: 14px;
    font-weight: 400;
    width: 90px;
    height: 60px;
    margin: 0;
}