.Header{
    display: flex;
    justify-content: space-between;
    background-color: #F3C1F8;
  }

.Header__logo {
    width: 38px;
    border-style: none;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 70px;
  }

  .Header__button-account{
    padding: 0;
    margin-top: 21px;
    margin-bottom: 23px;
    margin-right: 70px;
    display: flex;
    background-color: #F3C1F8;
    align-items: center;
    margin-left: 50px;
    font-weight: 500;
    font-size: 16px;
    border: 0;
  }

  .Header__button-img{
    margin-left: 13px;
  }

  .Navigation{
    display: flex;
    align-items: center;
  }

  .Header__film-saved {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
  }

  .Header__film {
    font-size: 18px;
    font-weight: 400;
  }