.MoviesCard {
    position: relative;
}

.MoviesCard__save {
    position: absolute;
    top: 14px;
    left: 274px;
    border-radius: 20px;
    padding: 6px 7px 6px;
    font-size: 10px;
}

.MoviesCard__saved {
    display: flex;
    align-items: center;
    position: absolute;
    top: 14px;
    background-color: #FF4062;
    border-radius: 50%;
    border: 0;
    height: 21px;
    left: 325px;
}

.MoviesCard__delete {
    display: flex;
    align-items: center;
    position: absolute;
    top: 14px;
    background-color: #F9F9F9;
    border-radius: 50%;
    border: 0;
    height: 21px;
    left: 325px;
    width: 21px;
    height: 21px;
    justify-content: center;
}

.MoviesCard__block {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    margin-right: 14px;
    margin-left: 14px;
}

.MoviesCard__name {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
}

.MoviesCard__time {
    margin: 0;
    color: #A0A0A0;
    font-size: 11px;
    font-weight: 400;
    background-color: #F9F9F9;
    border-radius: 3px;
}